body{
    font: 14px/1.5 "微软雅黑",tahoma,arial,sans-serif;
    background-color: #cccccc;
}

.container{
    background-color:white;
}

/*代码注释*/
pre comment{
    color: #008000;
}

pre primary{
    font-weight: bold;
    color: darkgreen;
}

img{
    width: 100%;
    border: 1px solid gray;
}